<h1>hello world</h1>
<p>this file is plactice rails</p>
<% @articles.each do |article| %>
  <h2><%= article.title %></h2>
  <p><%= truncate(article.body, length: 80)%></p>
  <%= link_to "readmore","#" %>
<% end %>


<PRE>
string
arry
obj
number
boolean
</PRE>
<p>string : <%= @string %></p>
<p>arry : <%= @arry %></p>
<p>arry : <%= @arry[0] %></p>
<p>arry : <%= @arry[0]+@arry[1] %></p>
<p>obj : <%= @obj %></p>
<p>obj : <%= @obj[:a]%></p>
<p>obj : <%= @obj[:a]+@obj[:b] %></p>
<p>number : <%= @number %></p>
<p>boolean : <%= @boolean %></p>

ESCAPE
<p> <%== "<h2>文字列にHTMLタグを仕込んでいる。</2>" %></p>
